.services 
  {

    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    /* border: 1px solid lime;  */
    gap: 50px;
    /* padding-bottom: var(--pad1); */
  
  }

    .services-grid 
      {
        position: relative;
        display: flex;
        gap: 20px;
        width: 80%;
        margin:  auto ;   
        margin: 20px 0;

padding: 10px;
        /* border: 1px solid lime;  */
        
      }

     

    .services-card 
      {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        aspect-ratio: 3 / 2.2;
        position: relative;
        overflow: hidden;

        border-radius: 20px ;
  
        width: 100%;
        cursor: pointer;
      }

    .services-grid .services-card 
      {
        /* transform-origin: bottom; */
          /* transform: translateY(50px) scale(.6); */
          transition: 1s ease;
      }


    .services-card:not(:hover) 
      {
        .s1-title1 
          {
            transform: translateY(40px);
          }
        .s1-title2 
          {
            transform: translateY(-25px);
            opacity: 0;
          }
        .services-image 
          {
            transform: scale(2); 
          } 
        .services-image::before 
          {
            opacity:1;
          }
      }

    .services-content 
      {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 2;
        text-align: center;
        color: var(--1);
        padding: 30px;

        gap:5px;
        border-radius:1px;
        pointer-events: none;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }

    .s1-title1 
      {
        margin: 0;
        font-family: var(--f3);
        font-size: 2rem;
        font-weight: 1000;
        line-height: 2rem;
        transition: 1s;
 
      }

    .s1-title2 
      {
        margin: 5px 0 0;
        font-size: 1rem;
        font-weight: 400;
        transition: 1s;
      }

    .services-image 
      {
        height: 100%;
        width: 100%;
        z-index: 1;
        transition: 1s ease;
      }

    .services-image img 
      {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

    .services-image::before 
      {
        content: '';
        position: absolute;
        background-size: 200% 200%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; 
            
        background: linear-gradient(45deg,  rgba(0, 0, 0, 1),rgba(0, 0, 0, .2));
        opacity: .5;
        transition: 1s;
      }
  

    /* @ Mobile */
    @media (max-width: 768px) 
      {
        .services 
        {
          max-width: 95%;
        }
        .services-card 
        {
          aspect-ratio: 2/3;
        }
        .services-head
        {
          font-size: 2rem;
        }
        .services
          {
            padding: 0 20px;
            
          }
        .services-grid 
          {
            width: 100%;
            flex-direction: column;
            
          }
      }

      /* @ Big Screen */
    @media (min-width: 1920px) 
    {
      .services {
        /* max-width: 50%; */
      }
    }
    