
.thumb {
  position: relative;
  width: 200px;
  height: auto;
 display: flex;
  aspect-ratio: 1.2/1;
  overflow: hidden;
  border-radius: 10px;
  transition: 1s ease;

  background-color: var(--0);
  box-shadow: inset 3px 3px 10px 0 var(--2);
  
}

.thumb::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
  linear-gradient(20deg, var(--2), transparent);
  transition: transform 0.5s ease;
  z-index: 1;
}

@media (max-width: 768px) {
  .thumb {
    width: 100px;
  }
}
  /* Image styling */
  .thumb-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 1;
  }

  .thumb-in {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    opacity: 0;
    /* transform: translateY(100%); */
    transition: all .5s ease-in-out;
    z-index: 10;

  }



.thumb:hover {
  /* border: 1px solid rgba(84, 44, 219,0.2); */
  border: 1px solid var(--3);
  box-shadow: inset 3px 3px 50px 0 rgba(84, 44, 219,0.5);
  transform: translateY(-20px) translateX(-10px) scale(1.1);
z-index: 10;
    .thumb-img
    {
      transform: scale(1.2);
      opacity: 0;
    }
    .thumb-in
    {
      transform: scale(1.2);
      opacity: 1;
      /* transform: translateY(0) scale(1.5); */
    }
  }
  

  