
  
  /* Image styling */
  .thumb-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 1;
  }

  .thumb-in {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    opacity: 0;
    /* transform: translateY(100%); */
    transition: all .5s ease-in-out;
    z-index: 10;

    
  }

.card2:hover {
    border: 1px solid var(--3);
  box-shadow: inset 3px 3px 50px 0 rgba(84, 44, 219,0.5);
    .thumb-img
    {
      transform: scale(1.2);
      opacity: 0;
    }
    .thumb-in
    {
      transform: scale(1.2);
      opacity: 1;
      /* transform: translateY(0) scale(1.5); */
    }
  }




  

  /* Overlay styles */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.0);
    justify-content: center;
    align-items: center;
    z-index: 999;

   
    transition: all 0.3s ease-out;
  }


  .overlay-content {
    position: relative;
    width: 95%;
    height: 95%;
    background: white;
    border-radius: 10px;
    overflow: hidden; 
    border-top: 2px solid var(--3);
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s ease-out, transform 0.4s ease-out;
  }

  .overlay.active {

    background: rgba(0, 0, 0, 0.8);
  }
  .overlay.active .overlay-content {
    opacity: 1;
    transform: scale(1);
  ;

}
  
  .overlay-content iframe {
    width: 100%;
    height: 100%;
    border: none;

    
  }
  
  .close-btn {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 30px;
    color: var(--3);
    cursor: pointer;
    z-index: 1001;
  }
  