
.X-section
{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  overflow: hidden;

  /* border: 1px solid red; */
}



.X-bg-img
{
  width: 100%; 
  height: auto; 
  /* aspect-ratio: 21/3; */
  object-fit: cover;
  object-position: center;
}

.containerX {
  position: relative;
  /* margin-top: 10%; */
  width: 100%;
  max-width: 70%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.25rem;
  transition: all 1s;
  z-index: 10;

}

.cardX {
  flex: 1;
  height: 100%;

  

  border-radius: 10px;
  transition: all 1s;
  cursor: pointer;
  
  filter: grayscale(0);
  overflow: hidden;
   border: 1px solid var(--2);
    box-shadow: inset 3px 3px 10px 0 var(--2);
}

.cardX::before{
     content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(20deg, var(--2), transparent);
    transition: transform 0.5s ease;
    z-index: 1;
}

.cardimg
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;

  transition: .6s ease;
}

.cardlogo 
{
  position: absolute;
  top: 90%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);

  transition: .6s ease;
  z-index: 2;
}




.containerX:hover > .cardX:not(:hover) {
  filter: grayscale(100%);
}


.cardX:hover {
  box-shadow: inset 3px 3px 50px 0 rgba(84, 44, 219,0.5);
  flex: 5;
 border: 1px solid var(--3);
  .cardlogo
  {
    width: 80%;
    top: 50%;
  }


}

.cardX:hover {
  .cardimg
  {
    filter: blur(7px);
   
  }
}


