.arts
  {

    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding: 10px;

    /* border: 1px solid red */
  }
/* ------------------------------*/

    swiper-container 
    {
      width: 100%;
      height: auto; 
      
    }

    swiper-slide 
      {
border-radius: 25px;

        text-align: center;
        font-size: 18px;
        background: var(--0);
overflow: hidden;      }

    swiper-slide img 
      {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .5s;
        /* opacity: 50%; */
      }

    swiper-slide img:hover 
      {
        transform: scale(105%) rotate(1deg); 
      }


    .btn-10 
      {
        background-color: white;
        color: #222;
        border: 1px solid #ddd;
        border-radius: 15px;
        padding: 10px 20px; 
        font-size: 16px; 
        font-family: var(--f2);
        font-weight: 500;
        cursor: pointer; 
        transition: all .3s ease; 
    }

    .btn-10:hover 
      {
        background-color: var(--1); 
        border: 1px solid;
        color: #ffffff; 
      }

