swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
   
      border-radius: 20px;
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
     aspect-ratio: 16 / 9;
      transition: transform 0.3s ease-in-out;
      overflow: hidden;
    }

    

    swiper-slide img {   
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease-in-out;
    }

swiper-slide:hover {

  width: 910px;
    /* .slideimage {
        transform: scale(1.1) rotate(5deg);
        
    } */
}


    swiper-container {
        height: auto;
      margin-left: auto;
      margin-right: auto;
    }